@charset "UTF-8";

body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: small;
	line-height: 1.2em;
	color: #333333;
	background-color: white;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#game {
	margin: 0 auto;
	width: 620px;
}

#lobby{
    padding: 20px;
}

#userInfo {
	padding-bottom: 10px;
	text-align: center;
}

#usernameLb {
	color: #7E7E7E;
	font: bold 25px Helvetica, Arial, sans-serif;
	letter-spacing: -0.05em;
	padding-right: 20px;
}

#scoreIcon {
	width: 16px;
	padding-right: 3px;
	margin-top: -3px;
}

.left {
	float:left;
	width: 73%;
    padding-right: 20px;
}

.chatControls {
	margin-top: 10px;
	margin-right: 10px;
	float:left;
}

#publicMsgIn {
	/*padding-top: 5px;*/
	padding-left: 5px;
}

#sendPublicMsgBt {
	margin-right: 4px;
}

#logoutBt {
	float: right;
}

#roomControls {
    height: 50px;
}

#createGameBt{
    float: right;
}

#joinGameBt{
    float: right;
    margin-right: 10px;
}

#quickJoinBt{
    float: left;
}

.right {
	float:right;
	width: 25%;
}

.item {
    margin: 5px;
}

#performance-container {
	margin-top: 25px;
}

#achievementsHeader {
	color: #7E7E7E;
	font: bold 20px Helvetica, Arial, sans-serif;
	letter-spacing: -0.05em;
	position: relative;
	left: 60px;
}

#badges-container{
	margin-top: 20px;
	margin-left: 13px;
	z-index: 100;
}

.badges {
	float: left;
	width: 64px;
	margin: 0 15px 15px 0;
}

.badge-text {
	left: 36px;
	bottom: 22px;
	position: relative;
	font-size: 11px;
}

.badge-click {
	cursor: pointer;
	z-index: 100;
}

.clr{clear:both;}

#performance-buttons{
	margin-top: 60px;
}

#takeSurveyBt {
	float: right;
}

#windowContent {
	margin: 10px;
	text-align: justify;
}

/* game creation window */
#singleplayer {
	width: 193px;
	height: 300px;
	border-right: 1px solid lightgray;
	float:left;
	margin-top: 10px;
}

#multiplayer {
	margin-top: 10px;
}

.title {
	color: #7E7E7E;
	font: bold 18px Helvetica, Arial, sans-serif;
	letter-spacing: -0.05em;
	text-align: center;
	margin-bottom: 10px;
}

.subtitle {
	color: #7E7E7E;
	font: 14px Helvetica, Arial;
	letter-spacing: -0.05em;
	text-align: center;
	font-style: italic;
}

#multiplayer{
	width: 383px;
	height: 300px;
	float:left;
}

#compete {
	border-right: 1px solid lightgray;
}

.gameTypeWin {
	width: 189px;
	height: 268px;
	float:left;
}



/* buttons */

.content {
	position: relative;
	text-align: center;
}

.backBt {
	position: absolute;
	left: 16px;
	bottom: 22px;
}

/*.middleBt {
	position: absolute;
	left: 150px;
	bottom: 22px;
}*/

.nextBt {
	position: absolute;
	right: 16px;
	bottom: 22px;
}

/* labels */
.topicDetails {
	margin: 10px;
	color: blue;
	text-decoration: underline;
	cursor: pointer;
	padding: 10px;
}

.inactive {
	display: none;
}

/* game css */
.popupContent {
	text-align: center;
	margin-top: 9px;
}

.game {
	padding: 0 !important;
}

progress[value] {
	width: 70px;
	height: 10px;
	margin-top: 3px;
}

#lookupWiki {
	position: absolute;
	top: 30px;
	left: 30px;
	/*border: 1px solid black;*/
	display: none;
}

.gameBarControls {
	position: absolute;
	right: 20px;
	bottom: 20px;
	display: none;
}

#leaveGameBt {
	position: absolute;
	top: 0;
	right: 10px;
}

/* question fields */
.countdown {
	height: 100px;
	width: 100px;
	position: absolute;
	left: 550px;
	bottom: 50px;
	opacity: 0;
}

#questionBox {
	display: none;
	text-align: center;
}

#questionTitle {
	width: 500px;
	height: 60px;
	position: absolute;
	left: 100px;
	top: 200px;
	letter-spacing: +0.06em;
	background: wheat;
	border: 2px solid #8b9798;
	border-radius: 5px;
	line-height: 60px;
	vertical-align: middle;
}

#questionAnswers {
	position: absolute;
	height: 60px;
	top: 270px;
	left: 100px;
}

.answerFields {
	width: 160px;
	height: 50px;
	cursor: pointer;
	background: lightgray;
	border-radius: 5px;
	border: 2px solid #8b9798;
	text-align: center;
	float: left;
	position: relative;
	margin-right: 5px;
}

.answerFields:hover {
	background: #deeff1;
}

.answerFieldsContent {
	top: 16px;
	position: relative;
}

#errorAnswer {
	width: 200px;
	height: 50px;
	background: lightgray;
	position: absolute;
	top: 350px;
	left: 250px;
	border: 2px solid gray;
	border-radius: 5px;
	cursor: pointer;
}

#errorAnswer:hover{
	background:#deeff1;
}

#errorAnswerText{
	top: 10px;
	position: relative;
}

#responseText {
	font-size: 18px;
	font-weight: bold;
	color: green;
}



/* feedback box */
#feedbackWrapper {
	display: none;
	position: absolute;
	top: 350px;
	left: 100px;
	text-align: center;
	width: 500px;
}

#feedbackTitle {
	font-weight: bold;
	margin-bottom: 5px;
	left: -15px;
	position: relative;
}

#feedback {
	float: left;
}

#feedbackLeft {
	float: left;
	margin-left: 15px;
	text-align: center;
	padding-bottom: 5px;
}

#feedbackRight {
	float: right;
	margin-right: 95px;
	text-align: center;
	padding-bottom: 5px;
}

#nextAction {
	font-size: 16px;
	margin-top: 10px;
	font-weight: bold;
	text-align: left;
}

#nextActionContent {
	font-weight: initial;
	margin-top: 10px;
}

.nextActionBt {
	background: #f6f6f6;
	padding: 6px;
	border-radius: 3px;
	width: 130px;
	color: #333333;
	font-size: 14px;
	text-align: center;
	border: 1px solid transparent;
	cursor: pointer;
	margin-bottom: 5px;
	margin-top: 5px;
}

/* gauge */
.gaugeWidget {
	position: absolute;
	bottom: 40px;
	right: 48px;
	width: 200px;
	height: 200px;
	z-index: 50;
	opacity: 0;
}

/* rating */
#jqxRating {
	display: block;
	height: 18px;
	width: 100px;
	margin-top: -3px;
	margin-left: 12px;
}

/* Floats self-clearing */

.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* for IE6 */
* html .group {
	height: 1%;
}

/* for IE7 */
*:first-child+html .group {
	min-height: 1px;
}


/* BASIC STYLES */

a:link, a:visited {
	color: #3399FF;
	font-weight: normal;
	text-decoration: none;
}

a:hover {
	color: #3366FF;
}

a img {
	border: none;
}

h1 {
	font-weight: normal;
	font-size: 150%;
	color: #CC0000;
	padding-bottom: 20px;
	line-height: 0.8em;
}

h2 {
	font-weight: bold;
	font-size: 120%;
	color: #666666;
	padding: 0px 0 10px 0;
}

label {
	font-weight: bold;
}

.smallNote {
	font-size: 80%;
	color: #999999;
}

input.textInput {
	font-size: 100%;
	border: 1px solid #AAAAAA;
	border-radius: 3px;
	background-color: #FCFCFC;
	height: 20px;
	padding-left: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
}

input.small {
	width: 140px;
}

input.smaller {
	width: 110px;
}

input.textInput[disabled] {
	border-color: #DCDCDC;
	background-color: #F9F9F9;
	color: #CCCCCC;
}

.floatItems * {
	float: left;
}

.floatItems label,
.floatItems p {
	margin-right: 5px;
	line-height: 24px;
}

.hidden {
	opacity: 0;
	z-index: -100;
}

.invisible {
	display: none;
}

/*
.vSep10 {
	margin-bottom: 10px;
}

.vSep20 {
	margin-bottom: 20px;
}*/

.error {
	color: #CC0000;
	padding-top: 10px;
}

.chatAreaElement {
	padding: 3px;
	font-size: 90%;
}

.chatAreaElement em {
	color: #BBBBBB;
}

#createGameWinTabs .item {
	padding-bottom: 5px;
	width: 98%;
}

#createGameWinTabs .item label {
	width: 140px;
	padding-top: 10px;
	font-weight: normal;
}

#createGameWinTabs .jqx-text-area  {
	margin-top: 6px;
	margin-bottom: 6px;
}

#createGameWinTabs .jqx-dropdownlist-state-normal  {
	margin-top: 6px;
	margin-bottom: 6px;
}

.popupWinControls {
	float: left;
	padding-top: 5px;
	width: 100%;
}




.invitationExpLb {
	float: left;
	color: #999999;
	margin: 5px;
	width: 280px;
	text-align: center;
}

#invitationMsgLb {
	display: block;
	min-height: 55px;
}

/* OVERRIDE JQWIDGETS BASIC STYLES */

#roomList.jqx-listbox,
#userList.jqx-listbox {
	font-size: 90%;
	border-left: none;
	border-right: none;
	border-radius: 0;
}

.jqx-listitem-state-normal .itemTitle {
	color: #FE4200;
}

.jqx-listitem-state-hover .itemTitle {
	color: #FFFFFF;
}

.jqx-listitem-state-selected .itemTitle {
	color: #FFFFFF;
}

.jqx-listbox .itemSub {
	font-size: 90%;
}

.jqx-tabs-content {
	padding: 5px;
}